<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Sample Bank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <base href="/">
  <link rel="stylesheet" href="/dependencies/lib/materialize/materialize.min.css">
  <link rel="stylesheet" href="/dependencies/lib/material-icons/material-icons.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body ng-cloak>
  <div ng-if="showAppBar" class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">SampleBank</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li><a href="login"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="sidenav" ng-if="!hideLayout">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="images/office.jpg">
        </div>
        <a href="#user"><img class="circle user user-1"></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <div ng-view></div>
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/lib/angular/angular.min.js"></script>
  <script src="/dependencies/lib/angular/angular-route.min.js"></script>
  <script src="/dependencies/lib/jquery/jquery-3.3.1.min.js"></script>
  <script src="/dependencies/lib/materialize/materialize.min.js"></script>
  <script src="/js/app/app.js"></script>
  <script src="/js/app/views/home/home.controller.js"></script>
  <script src="/js/app/views/login/login.controller.js"></script>
</body>

</html>
