<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Sample Bank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <base href="/">
</head>

<body>
  <%- body %>
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/lib/angular.min.js"></script>
  <script src="/dependencies/lib/angular-route.min.js"></script>
  <script src="/js/app/app.js"></script>
  <script src="/js/app/views/home/home.controller.js"></script>
</body>

</html>
